h3::first-letter{
    color: #00796b;
}

h3::first-letter:hover{
    color: #4fc3f7;
}

ul li:first-child::first-letter{
    color: #4fc3f7;
    font-size: 2em;
    text-decoration: overline;
}

ul li:nth-child(2)::first-letter{
    color: #c51162;
    font-size: 2em;
    text-decoration: underline;
}

ul li:last-child::first-letter{
    color: #64dd17;
    font-size: 2em;
}

ul li:last-child{
    text-decoration: line-through;
}

section p:first-child{
    font-size: 1.3em;
}

section p:not(:first-child)::first-letter{
    color: #d50000;
}

section p:not(:first-child)::first-line{
    color: green;
}

section p:hover:not(:first-child)::first-line{
    color: #303f9f;
}

section p:nth-child(even){
    font-weight: 600;
}