@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
 */
ul{
    list-style: none;
}

ul li:nth-child(3n + 3){
    color: #311b92;
    font-family: 'Montserrat', sans-serif;
}

ul li:nth-child(5n + 5){
    background: #fff176;
}

ul li:nth-child(even){
    text-decoration: underline;
}

/* ???? */
ul li:nth-child(odd)::before{
    content: "▪︎";
}

ul li:nth-child(7n + 7){
    font-size: 1.6em;
}

ul li:first-child{
    color:#e53935;
}

ul li:nth-child(4n + 4){
    letter-spacing: 6px;
}

ul li:nth-child(13n +13){
    background: #ff8a80;
}