
/* =======================
        General Styles
=========================== */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


/* =======================
       Header Style
=========================== */

h1{
    text-align: center;
    border: 2px solid tomato;
    margin: 20px;
    padding: 15px 20px 30px;
}


/* =======================
       Main Styles
=========================== */

main{
    text-align: center;
    margin-top: 100px;
}

a{
    background:brown;
    color:white;
    text-decoration: none;
    padding: 10px 20px 10px;
    border-radius: 15px;
}

div{
    height:100px;
    width: 100px;
    background-color: lightsalmon;
    margin: 30px auto;
}
