/* =========================
         General STYLE
============================ */


@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans&display=swap');

/* 
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
*/


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    /* box-sizing: border-box; */
}

h1{
    font-family: 'Fredericka the Great', cursive;
    margin-left: 100px;
}

h2, h3{
    font-family: 'Fredericka the Great', cursive;
}

.linkWithPadding{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 100px;
}

.linkWithPadding:visited{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
}
.linkWithPadding:hover{
    color: black;
    background: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
}

.linkWithPadding:active{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
}

.linkForNav{
    color: white;
    text-decoration: none;
}

.linkForNav:visited{
    color: lightgray;
    text-decoration: none;
}
.linkForNav:hover{
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}

.linkForNav:active{
    color: white;
    text-decoration: none;
}

/* =========================
         HEADER STYLE
============================ */

header{
    background-image: url(../img/Lev3_2_css-einfuÌˆhrung_box-model_img.jpeg);
    background-size: cover;
    color: white;
    height: 550px;
}

header section div{
    margin-top: 50px;
}

/* header section div a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 100px;
}

header section div a:visited{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
}
header section div a:hover{
    color: black;
    background: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
}

header section div a:active{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
} */

/* header div nav ul li a{
    color: white;
    text-decoration: none;
}

header div nav ul li a:visited{
    color: lightgray;
    text-decoration: none;
}
header div nav ul li a:hover{
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}

header div nav ul li a:active{
    color: white;
    text-decoration: none;
} */

header section{
    text-align: center;
    vertical-align: middle;
    width: 300px;
    padding: auto;
    margin: 100px auto 50px auto;
}

header section p{
    margin: 30px 0px 0px 0px;
}

header nav{
    text-align: right;
    margin: -30px 0px 0px 0px;
    padding-right: 40px;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    padding:10px;
}

/* =========================
         MAIN STYLE
============================ */

main section article{
    text-align: center;
    margin: 30px;
}

main section article p{
    margin: 30px;
}

main section article a div{
    border: 3px double black;
    padding: 0px 30px 0px 30px;
    margin: 0px auto 150px auto;
    width: fit-content;
}

main section article a{
    color: black;
    text-decoration: none;
}

main section article a:hover{
    color: black;
    text-decoration: underline;
}

main section article a:visited{
    color: black;
    text-decoration: none;
}

main section article a:active{
    color: black;
    text-decoration: none;
    font-weight: bold;
}


/* =======================
Footer Style
========================== */

footer{
    background-color: #3a3b4a;
    height: 140px;
    color: white;
    font-size: small;
    padding: 30px;
}

footer p{
    width:600px;
    margin: 0px 0px 0px 20px;
}

footer div{
    margin: 50px 0px 0px 20px;
}

/* footer div a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 100px;
}

footer div a:visited{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
}
footer div a:hover{
    color: black;
    background: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
}

footer div a:active{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
} */

footer nav{
    text-align: right;
    word-spacing: 20px;
    padding: 0px 0px 0px 0px;
    margin: auto 20px 20px auto;
}

/*
footer nav a{
    color: white;
    text-decoration: none;
}

footer nav a:hover{
    color:white;
    text-decoration: underline;
}

footer nav a:visited{
    color: lightgrey;
    text-decoration: none;
}

footer nav a:active{
    color: lightgrey;
    font-weight: bold;
} */