/* =================
General Style
===================*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins&display=swap');

/* FONTS
font-family: 'Cinzel', serif;
font-family: 'Poppins', sans-serif;
 */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3{
    font-family: 'Cinzel', serif;
}

h1{
    color: #999;
    font-size: 16px;
    padding: 10px;
}

/* =================
Header Style
===================*/

header{
    background-image: url(../img/background.avif);
    background-repeat: no-repeat;
    text-align: center;
    padding: 20%;
    /* height: 550px; */
}

header div p{
    font-family: 'Cinzel', serif;
    font-size: 40px;
    color: white;
    text-align: center;
    margin: auto auto;
}
/* 
header div p{
    margin: auto auto;
} */


/* =================
Main Style
===================*/

main{
    text-align: center;
    padding: 5%;
}

main section article p{
    padding: 5%;
}

main section div img{
    float:inline-start;
    padding: 3%;
    max-width: 25%;
}

main section article ul{
    list-style: none;
    margin-top: 2%;
    text-align: left;
    margin-left: 5%;
}

main section article ul li{
    padding: 1.5% 0 0 0;
}

#tourDates1::after{
    content: " - SOLD OUT";
    color: red;
}

#tourDates2::after{
    content: " - SOLD OUT";
    color: red;
}

#tourDates3::after{
    content: " - SOLD OUT";
    color: red;
}

#tourDates4::after{
    content: " - ONLY 4 AVAILABLE";
    color: red;
}

#tourDates5::after{
    content: " - AVAILABLE";
    color: green;
}

#tourDates6::after{
    content: " - AVAILABLE";
    color: green;
}

/* =================
Footer Style
===================*/

footer{
    border-top: 1px solid #888;
    text-align: center;
    padding: 2%;
}


#socialMedia img{
    width: 50px;
    padding: 1%;
}