@import url('https://fonts.googleapis.com/css2?family=Literata&family=Montserrat&display=swap');

/* 
font-family: 'Literata', serif;
font-family: 'Montserrat', sans-serif;
*/


h2{
    color: red;
    font-family: 'Montserrat', sans-serif;
}

body main>p{
    color: red;
    font-size: 16px;
    font-family: 'Literata', serif;
}

img{
    width: 100px;
    border: 5px solid green;
    border-radius: 50%;
}

div{
    background-color: lightgrey;
}

div p:first-child{
    color: green;
}