h1{
    font-size: 2em;
    border: 2px dashed grey;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
}

body p{
    border: 1px solid red;
    padding: 10px;
    text-align: center;
}

h2{
    border: 1px solid violet;
    text-align: center;
    box-shadow: 0px 0px 10px 5px violet;
}

body ol, body ul{
    border: 1px solid green;
}

body ol li, body ul li{
    text-decoration:underline blue;
}

h3{
    border: 8px double green;
    border-radius: 5px;
    text-align: center;
}