*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 20px;
}

div{
    font-size: 50px;
}

div p:first-child{
    font-size: 0.5em;
}

div p:nth-of-type(2){
    font-size: 0.7em;
}

div p:last-child{
    font-size: 1em;
}


/* REM bezieht sich immer auf das Root Element */

article{
    width: 50%;
}

article div:first-child{
    height: 100px;
    background: tomato;
    width: 30%;
}

article div:nth-of-type(2){
    height: 100px;
    background: gold;
    width: 50%;
}

article div:last-child{
    height: 100px;
    background: coral;
    width: 70%;
}

/* vw & vh beziehen sich auf die gesamte höhe und breite des browsers */

main div:first-child{
    width: 100vw;
    height: 50vh;
    background: green;
}

