@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTS
font-family: 'Roboto', sans-serif;
*/


/* 
logo: DailyUI&UX
content: 
404
Page not found
I tried to catch some fog but I mist
back to home
Assets:
Farben: #565c73, #CDD4DE

*/

body{
    background: url("../img/008.jpeg") center / cover no-repeat;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

h1{
    font-size: 1em;
    font-style:italic;
    font-weight: bold;
    color: #565c73;
}

div{
    margin-top: 30vh;
}

h2{
    font-size: 10em;
    color: #cdd4de80;   
}

div p{
    font-size: 2em;
    color: #cdd4de80;
}

div p:last-of-type{
    margin: 1em;
    font-size: .9em;
}

a{
    color: #565c73;
    text-decoration: none;
    border: 1px solid #565c73;
    padding: 1em 2em 1em 2em;
}

a:hover{
    background: #565c7380;
    text-decoration: none;
    border: 1px solid #565c73;
    padding: 1em 2em 1em 2em;
}

