*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background: url(../img/dimitry-anikin-iMj-RFw865U-unsplash.jpg);
    background-size: cover;
    width: 100vw;
    text-align: center;
    font-size: 10px;
}

h1{
  font-size: 2rem;
  color: white;
  background: rgba(50, 50, 50, 0.5);
  margin: 2rem;
  padding: 2rem;
}

article, p, h2{
    font-family: Arial, Helvetica, sans-serif;
}

article{
    background: rgba(200, 200, 200, 0.5);
    margin: 2em;
    padding: 2em;
}

h2{
    font-size: 2em;
    margin: 1.3em;
}
