*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/photo-1593642632559-0c6d3fc62b89.avif);
    background-size: cover;
    width: 100vw;
}

h3{
    text-align: center;
    color: white;
    background: rgba(50, 50, 50, 0.5);
    margin: 2vh;
    padding: 2vh;
    font-size: 3vh;
}