@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
font-family: 'Montserrat', sans-serif;
}

::selection{
    background:#a020f0;
    color:#c71585;
}

p::first-letter{
    font-size: 2em;
    color: #00ced1;
}

p::first-line{
    color: #483d8b;
    font-variant: small-caps;
}

h1{
    color:#2e8b57;
}

h1::before{
    content: "Hi!";
    color: #32cd32;
}

strong{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

