h1::first-letter{
    font-size: 3em;
    color:#00796b;
}

h1:hover::first-letter{
    color:#4fc3f7;
}

ul{
    list-style: none;
}

ul li:nth-child(1):before{
    content: url(../img/check.png);
}

ul li:nth-child(2):before{
    content: url(../img/check.png);
}

ul li:nth-child(3):before{
    content: url(../img/doing.png);
}

ul li:nth-child(4):before{
    content: url(../img/doing.png);
}

ul li:nth-child(5):before{
    content: url(../img/no.png);
}

ul li:nth-child(6):before{
    content: url(../img/no.png);
}

ul li:nth-child(1)::after{
    content: url(../img/gym.png);
}

ul li:nth-child(2):after{
    content: url(../img/bill.png);
}

ul li:nth-child(3):after{
    content: url(../img/eat.png);
}

ul li:nth-child(4):after{
    content: url(../img/organize.png);
}

ul li:nth-child(5):after{
    content: url(../img/dance.png);
}

ul li:nth-child(6):after{
    content: url(../img/book.png);
}

ul li:nth-child(1){
    text-decoration: line-through;
}

ul li:nth-child(2){
    text-decoration: line-through;
}

ul li:nth-child(3){
    background:#4fc3f7;
}

ul li:nth-child(4){
    background:#4fc3f7;
}

ul li:nth-child(5){
    text-decoration: underline;
}

ul li:nth-child(6){
    text-decoration: underline;
}