*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    border: 0.1cm 0.1cm 0.1cm 0.1cm solid #666;
    border-radius: 0.1cm;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15mm;
    text-shadow: 1.5mm 1.5mm black;
    color: white;
    background-color: #666;
}


section article{
    margin: 1cm;
    background: grey;
    border: 2mm solid black;
    color: white;
}
section p{
    font-size: 7mm;
    margin: 3mm 6mm 2mm 3mm;
}

article ul{
    list-style: none;
    margin: 0mm 3mm;
}

h3{
    font-size: 12mm;
    margin: 1cm;
}

ul li:first-child, ul li:last-child{
    background: white;
    color:black;
}

ul li:last-child{
    font-size: 0.8cm;
}