@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Roboto:wght@300;400&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

h3:hover{
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul li:first-child{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4e342e;
}

ul li:nth-child(2){
    font-family: 'Montserrat', sans-serif;
    color: #689f38;
}

ul li:last-child{
    font-family: 'Raleway', sans-serif;
    color: #ef5350;
}

section p:first-child{
    color: #999;
}

section p:not(:last-child){
    font-size: 26px;
}

section p:nth-last-of-type(2n + 1){
    color:#0277bd;
}

button{
    background: linear-gradient(45deg, blue, green);
}

button:hover{
    background: linear-gradient(45deg, orange, red);
    font-size: 26px;
    color: tomato;
}

button:active{
    background: green;
    color: blue;
}