*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
}

#sectionOne{
    background: tomato;
    height: 100vh;
    text-align: center;
}

#sectionTwo{
    background: blue;
    height: 100vh;
    text-align: center;
}

#sectionThree{
    background: green;
    height: 100vh;
    text-align: center;
}

.headline{
    font-size: 48px;
    padding-top: 30px;
}