main{
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
}

div{
    border: 5px solid black;
    background-color: aquamarine;
    padding: 20px 10px;
    margin: 5px;
}